> **Tip**: Welcome to the Investigate a Dataset project! You will find tips in quoted sections like this to help organize your approach to your investigation. Before submitting your project, it will be a good idea to go back through your report and remove these sections to make the presentation of your work as tidy as possible. First things first, you might want to double-click this Markdown cell and change the title so that it reflects your dataset and investigation.

# Project: Investigate a Dataset of Firearms and the US Census

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

In [1]:
# Use this cell to set up import statements for all of the packages that you
#   plan to use.

# Remember to include a 'magic word' so that your visualizations are plotted
#   inline with the notebook. See this page for more:
#   http://ipython.readthedocs.io/en/stable/interactive/magics.html
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [2]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.

# Investigating the properties of the US Census Data as df_census
census = pd.read_csv('U.S. Census Data.csv')
guns = pd.read_excel("gun_data.xlsx")

In [3]:
# Investigating the properties of the guns data set
# Get the DataFrame structure for guns data set
guns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485 entries, 0 to 12484
Data columns (total 27 columns):
month                        12485 non-null object
state                        12485 non-null object
permit                       12461 non-null float64
permit_recheck               1100 non-null float64
handgun                      12465 non-null float64
long_gun                     12466 non-null float64
other                        5500 non-null float64
multiple                     12485 non-null int64
admin                        12462 non-null float64
prepawn_handgun              10542 non-null float64
prepawn_long_gun             10540 non-null float64
prepawn_other                5115 non-null float64
redemption_handgun           10545 non-null float64
redemption_long_gun          10544 non-null float64
redemption_other             5115 non-null float64
returned_handgun             2200 non-null float64
returned_long_gun            2145 non-null float64
returned_other               1815 non-null float64
rentals_handgun              990 non-null float64
rentals_long_gun             825 non-null float64
private_sale_handgun         2750 non-null float64
private_sale_long_gun        2750 non-null float64
private_sale_other           2750 non-null float64
return_to_seller_handgun     2475 non-null float64
return_to_seller_long_gun    2750 non-null float64
return_to_seller_other       2255 non-null float64
totals                       12485 non-null int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.6+ MB

In [4]:
# guns.info() assessment: The output of guns.info() shows there is 12485 rows and 52 columns. We also see that not all columns 
# have entries for each row, so we'll have to address that in our Data Cleaning section.
# Update in Data Cleaning Section

In [5]:
# Investigating the properties of the US Census Data as df_census
# Looking at guns.head() will allow us to review the columns and check if they have appropriate datatypes. 
guns.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,0.0,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303
2,2017-09,Arizona,5069.0,382.0,11063.0,7946.0,920.0,631,0.0,13.0,...,0.0,0.0,0.0,38.0,12.0,2.0,0.0,0.0,0.0,28394
3,2017-09,Arkansas,2935.0,632.0,4347.0,6063.0,165.0,366,51.0,12.0,...,0.0,0.0,0.0,13.0,23.0,0.0,0.0,2.0,1.0,17747
4,2017-09,California,57839.0,0.0,37165.0,24581.0,2984.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123506

In [6]:
# guns.head() assessment: The columns and datatypes have no show-stopper errors.  We do see that the majority of the columns
# are type float64.  Since we are dealing with discrete objects, IE counting in terms of full guns, not partial guns, we
# can update the type to be more accurate and use int64. 
# Update in Data Cleaning Section

In [7]:
# Check for guns duplicates
sum(guns.duplicated())

0

In [8]:
# sum(guns.duplicated()) assessment: no duplicates !

In [9]:
# Let's check for missing values
guns.isnull().values.any()

True

In [10]:
# guns.isnull assessment - this says yes, there are missing values. Next lets find out how many are missing
guns.isnull().sum().sum()

154595

In [11]:
# guns.isnull().sum().sum() - this shows us how many are missing in the entire dataframe.  We'll address this in 
# Data Cleaning.

In [12]:
# Investigating the properties of the US Census Data as df_census
# Get the DataFrame structure for census data set
census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 52 columns):
Fact              80 non-null object
Fact Note         28 non-null object
Alabama           65 non-null object
Alaska            65 non-null object
Arizona           65 non-null object
Arkansas          65 non-null object
California        65 non-null object
Colorado          65 non-null object
Connecticut       65 non-null object
Delaware          65 non-null object
Florida           65 non-null object
Georgia           65 non-null object
Hawaii            65 non-null object
Idaho             65 non-null object
Illinois          65 non-null object
Indiana           65 non-null object
Iowa              65 non-null object
Kansas            65 non-null object
Kentucky          65 non-null object
Louisiana         65 non-null object
Maine             65 non-null object
Maryland          65 non-null object
Massachusetts     65 non-null object
Michigan          65 non-null object
Minnesota         65 non-null object
Mississippi       65 non-null object
Missouri          65 non-null object
Montana           65 non-null object
Nebraska          65 non-null object
Nevada            65 non-null object
New Hampshire     65 non-null object
New Jersey        65 non-null object
New Mexico        65 non-null object
New York          65 non-null object
North Carolina    65 non-null object
North Dakota      65 non-null object
Ohio              65 non-null object
Oklahoma          65 non-null object
Oregon            65 non-null object
Pennsylvania      65 non-null object
Rhode Island      65 non-null object
South Carolina    65 non-null object
South Dakota      65 non-null object
Tennessee         65 non-null object
Texas             65 non-null object
Utah              65 non-null object
Vermont           65 non-null object
Virginia          65 non-null object
Washington        65 non-null object
West Virginia     65 non-null object
Wisconsin         65 non-null object
Wyoming           65 non-null object
dtypes: object(52)
memory usage: 34.6+ KB

In [13]:
# census.info() assessment: The output of guns.info() shows there is 85 rows and 52 columns. We also see that not all columns 
# have entries for each row, so we'll have to address that in our Data Cleaning section. For each of the states, there appears
# to be 20 missing entries. We also have to explore the "Fact" and "Fact Note" columns in more depth. Finally, all column 
# data types are string objects.  We'll have to ensure that's correct.
# Update in Data Cleaning Section

In [14]:
census.head()

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)",NaN,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...",NaN,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",NaN,1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"Population, Census, April 1, 2010",NaN,"4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",NaN,6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%

In [15]:
# census.head() assessment: The columns under the states are numeric and a mix of integers and percents so we'll need
# to update this in Data Cleaning.

In [16]:
# Check for census duplicates
sum(census.duplicated())

3

In [17]:
# sum(census.duplicated()) assessment: 3 duplicate rows are found. 
# Update in Data Cleaning by doing census.drop_duplicates()

In [18]:
# Let's check for missing values
census.isnull().values.any()

True

In [19]:
# census.isnull assessment - this says yes, there are missing values. Next lets find out how many are missing
census.isnull().sum().sum()

1062

In [20]:
# census.isnull().sum().sum() - this shows us how many, 1062 rows, missing in the entire dataframe.  
# Not nearly as much as in guns, but still an issue
# We'll address this in Data Cleaning.

In [21]:
# Data Wrangling Summary:
# 1) guns column data types should be changed to int64
# 2) guns has missing values in the columns for various rows
# 3) guns has a column of month-year, we'll split that as it can be useful data
# 3) census columns have mixed data types, ints and percents and this should changed to float64
# 4) census has duplicate entries
# 5) census has missing values in the columns for various rows
# 6) census "Fact Note" column can be removed

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [22]:
# The Data Wranling section highlighed the issues with the initial data sets
# In this section, our Data Cleaning will include the following:
# 1) update guns data type to int64
# 2) fill in missing guns values with the column mean
# 3) Split the guns month-year column into two separate columns called year, month
# 4) update census data types to float64
# 5) drop duplicate rows in census 
# 6) fill in missing census values with column mean
# 7) remove census "Fact Note" column

In [23]:
# Data Cleaning for the guns dataframe
# fill in missing guns values with the column mean
guns = guns.fillna(guns.mean(), axis=0, inplace=True)

In [24]:
# Data Cleaning for the guns dataframe
# Split the month-year column into two separate columns called year, month.
guns['flag'], guns['month'] = zip(*guns['month'].apply(lambda x: x.split('-', 1)))

In [25]:
# the flag column is place at the end with the split so we will insert a new column, call it year, and 
# fill it with the temp flag data.  
guns.insert(1, column='year',value=guns['flag'])

In [26]:
# Remove flag year since it was just a temp placeholder for the split
del guns['flag']

In [27]:
# Data Cleaning for the guns dataframe
# update guns data type to int64
guns.iloc[:,3:] = guns.iloc[:,3:].astype('int64')

In [28]:
# Data Cleaning for the guns dataframe
# Verify there is no missing data using guns.head() and guns.info()
guns.head()

,month,year,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,09,2017,Alabama,16717,0,5734,6320,221,317,0,...,0,0,0,9,16,3,0,0,3,32019
1,09,2017,Alaska,209,2,2320,2930,219,160,0,...,0,0,0,17,24,1,0,0,0,6303
2,09,2017,Arizona,5069,382,11063,7946,920,631,0,...,0,0,0,38,12,2,0,0,0,28394
3,09,2017,Arkansas,2935,632,4347,6063,165,366,51,...,0,0,0,13,23,0,0,2,1,17747
4,09,2017,California,57839,0,37165,24581,2984,0,0,...,0,0,0,0,0,0,0,0,0,123506

In [29]:
guns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485 entries, 0 to 12484
Data columns (total 28 columns):
month                        12485 non-null object
year                         12485 non-null object
state                        12485 non-null object
permit                       12485 non-null int64
permit_recheck               12485 non-null int64
handgun                      12485 non-null int64
long_gun                     12485 non-null int64
other                        12485 non-null int64
multiple                     12485 non-null int64
admin                        12485 non-null int64
prepawn_handgun              12485 non-null int64
prepawn_long_gun             12485 non-null int64
prepawn_other                12485 non-null int64
redemption_handgun           12485 non-null int64
redemption_long_gun          12485 non-null int64
redemption_other             12485 non-null int64
returned_handgun             12485 non-null int64
returned_long_gun            12485 non-null int64
returned_other               12485 non-null int64
rentals_handgun              12485 non-null int64
rentals_long_gun             12485 non-null int64
private_sale_handgun         12485 non-null int64
private_sale_long_gun        12485 non-null int64
private_sale_other           12485 non-null int64
return_to_seller_handgun     12485 non-null int64
return_to_seller_long_gun    12485 non-null int64
return_to_seller_other       12485 non-null int64
totals                       12485 non-null int64
dtypes: int64(25), object(3)
memory usage: 2.7+ MB

In [30]:
# Data Cleaning for the census dataframe
# drop duplicate rows
census.drop_duplicates()

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)",NaN,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...",NaN,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",NaN,1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"Population, Census, April 1, 2010",NaN,"4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",NaN,6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%
5,"Persons under 5 years, percent, April 1, 2010",NaN,6.40%,7.60%,7.10%,6.80%,6.80%,6.80%,5.70%,6.20%,...,0.073,0.064,7.70%,9.50%,5.10%,6.40%,6.50%,5.60%,6.30%,7.10%
6,"Persons under 18 years, percent, July 1, 2016,...",NaN,22.60%,25.20%,23.50%,23.60%,23.20%,22.80%,21.10%,21.50%,...,0.246,0.226,26.20%,30.20%,19.00%,22.20%,22.40%,20.50%,22.30%,23.70%
7,"Persons under 18 years, percent, April 1, 2010",NaN,23.70%,26.40%,25.50%,24.40%,25.00%,24.40%,22.90%,22.90%,...,0.249,0.236,27.30%,31.50%,20.70%,23.20%,23.50%,20.90%,23.60%,24.00%
8,"Persons 65 years and over, percent, July 1, 2...",NaN,16.10%,10.40%,16.90%,16.30%,13.60%,13.40%,16.10%,17.50%,...,0.16,0.157,12.00%,10.50%,18.10%,14.60%,14.80%,18.80%,16.10%,15.00%
9,"Persons 65 years and over, percent, April 1, 2010",NaN,13.80%,7.70%,13.80%,14.40%,11.40%,10.90%,14.20%,14.40%,...,0.143,0.134,10.30%,9.00%,14.60%,12.20%,12.30%,16.00%,13.70%,12.40%
10,"Female persons, percent, July 1, 2016, (V2016)",NaN,51.60%,47.70%,50.30%,50.90%,50.30%,49.70%,51.20%,51.60%,...,0.496,0.512,50.40%,49.70%,50.60%,50.80%,50.00%,50.50%,50.30%,48.90%
11,"Female persons, percent, April 1, 2010",NaN,51.50%,48.00%,50.30%,50.90%,50.30%,49.90%,51.30%,51.60%,...,0.5,0.513,50.40%,49.80%,50.70%,50.90%,50.20%,50.70%,50.40%,49.00%
12,"White alone, percent, July 1, 2016, (V2016)",(a),69.30%,66.10%,83.30%,79.40%,72.70%,87.50%,80.60%,70.10%,...,0.852,0.787,79.40%,91.10%,94.60%,70.00%,80.00%,93.60%,87.50%,92.80%
13,"Black or African American alone, percent, July...",(a),26.80%,3.80%,4.90%,15.70%,6.50%,4.50%,11.80%,22.60%,...,0.02,0.171,12.60%,1.40%,1.30%,19.80%,4.10%,3.60%,6.60%,1.30%
14,"American Indian and Alaska Native alone, perce...",(a),0.70%,15.20%,5.40%,1.00%,1.70%,1.60%,0.50%,0.60%,...,0.09,0.004,1.00%,1.60%,0.40%,0.50%,1.90%,0.20%,1.10%,2.70%
15,"Asian alone, percent, July 1, 2016, (V2016)",(a),1.40%,6.30%,3.40%,1.60%,14.80%,3.30%,4.70%,4.00%,...,0.015,0.018,4.80%,2.50%,1.80%,6.60%,8.60%,0.80%,2.80%,1.00%
16,Native Hawaiian and Other Pacific Islander alo...,(a),0.10%,1.30%,0.30%,0.30%,0.50%,0.20%,0.10%,0.10%,...,0.001,0.001,0.10%,1.00%,Z,0.10%,0.80%,Z,0.10%,0.10%
17,"Two or More Races, percent, July 1, 2016, (V2...",NaN,1.60%,7.30%,2.80%,2.00%,3.80%,3.00%,2.30%,2.60%,...,0.023,0.019,1.90%,2.50%,1.90%,2.90%,4.60%,1.70%,1.90%,2.10%
18,"Hispanic or Latino, percent, July 1, 2016, (V...",(b),4.20%,7.00%,30.90%,7.30%,38.90%,21.30%,15.70%,9.20%,...,0.037,0.052,39.10%,13.80%,1.90%,9.10%,12.40%,1.50%,6.70%,10.00%
19,"White alone, not Hispanic or Latino, percent, ...",NaN,65.80%,61.20%,55.50%,72.90%,37.70%,68.60%,67.70%,62.90%,...,0.825,0.742,42.60%,78.80%,93.10%,62.40%,69.50%,92.30%,81.70%,84.10%
20,"Veterans, 2011-2015",NaN,"363,170","69,323","505,794","220,953","1,777,410","391,725","199,331","71,213",...,63742,462414,"1,539,655","134,332","44,708","706,539","564,864","150,021","381,940","48,505"
21,"Foreign born persons, percent, 2011-2015",NaN,3.50%,7.40%,13.50%,4.70%,27.00%,9.80%,13.90%,8.70%,...,0.03,0.048,16.60%,8.40%,4.30%,11.70%,13.40%,1.50%,4.80%,3.60%
22,"Housing units, July 1, 2016, (V2016)",NaN,"2,230,185","310,658","2,961,003","1,354,762","14,060,525","2,339,118","1,499,116","426,149",...,383838,2919671,"10,753,629","1,054,164","329,525","3,491,054","3,025,685","886,640","2,668,444","270,600"
23,"Housing units, April 1, 2010",NaN,"2,171,853","306,967","2,844,526","1,316,299","13,680,081","2,212,898","1,487,891","405,885",...,363438,2812133,"9,977,436","979,709","322,539","3,364,939","2,885,677","881,917","2,624,358","261,868"
24,"Owner-occupied housing unit rate, 2011-2015",NaN,68.70%,63.40%,62.80%,66.10%,54.30%,64.30%,67.00%,71.20%,...,0.681,0.668,62.20%,69.50%,71.00%,66.20%,62.50%,72.50%,67.30%,69.10%
25,"Median value of owner-occupied housing units, ...",NaN,"$125,500","$250,000","$167,500","$111,400","$385,500","$247,800","$270,500","$231,500",...,140500,142100,"$136,000","$215,900","$217,500","$245,000","$259,500","$103,800","$165,800","$194,800"
26,Median selected monthly owner costs -with a mo...,NaN,"$1,139","$1,827","$1,343","$1,019","$2,155","$1,577","$2,067","$1,537",...,1210,1181,"$1,432","$1,428","$1,535","$1,711","$1,731",$966,"$1,402","$1,348"
27,Median selected monthly owner costs -without a...,NaN,$345,$554,$380,$327,$500,$419,$833,$445,...,433,359,$460,$388,$641,$433,$511,$293,$532,$386
28,"Median gross rent, 2011-2015",NaN,$717,"$1,146",$913,$677,"$1,255","$1,002","$1,075","$1,018",...,655,764,$882,$887,$895,"$1,116","$1,014",$643,$776,$789
29,"Building permits, 2016",NaN,"15,001","1,503","35,578","9,474","102,350","38,974","5,504","5,804",...,5686,36157,"165,853","22,662","1,771","31,132","44,077","2,544","19,274","1,727"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,"Total annual payroll, 2015 ($1,000)",Includes data not distributed by county.,"67,370,353","15,643,303","102,671,393","39,451,191","856,954,246","117,539,555","92,555,072","21,305,227",...,13812997,110481280,"521,095,797","51,453,266","10,615,093","165,788,897","149,258,789","22,159,084","112,406,494","10,094,010"
53,"Total employment, percent change, 2014-2015",Includes data not distributed by county.,1.90%,0.40%,2.40%,1.10%,3.50%,3.30%,1.20%,1.50%,...,0.016,0.022,3.20%,4.90%,2.00%,1.20%,2.90%,-1.70%,2.20%,FN
54,"Total nonemployer establishments, 2015",NaN,"322,025","55,521","451,951","198,380","3,206,958","480,847","272,809","60,734",...,64006,495703,"2,205,149","216,280","60,312","576,446","444,135","88,136","341,935","48,140"
55,"All firms, 2012",NaN,"374,153","68,032","499,926","231,959","3,548,449","547,352","326,693","73,418",...,81314,550453,"2,356,748","251,419","75,827","653,193","541,522","114,435","432,980","62,427"
56,"Men-owned firms, 2012",NaN,"203,604","35,402","245,243","123,158","1,852,580","284,554","187,845","38,328",...,42418,302249,"1,251,696","132,163","41,270","353,012","262,650","63,112","236,252","30,039"
57,"Women-owned firms, 2012",NaN,"137,630","22,141","182,425","75,962","1,320,085","194,508","106,678","23,964",...,23722,195694,"866,678","76,269","23,417","236,290","187,677","39,065","133,859","19,344"
58,"Minority-owned firms, 2012",NaN,"92,219","13,688","135,313","35,982","1,619,857","85,849","56,113","14,440",...,4101,105234,"1,070,392","24,423","2,354","185,043","92,807","5,777","40,507","4,077"
59,"Nonminority-owned firms, 2012",NaN,"272,651","51,147","344,981","189,029","1,819,107","442,365","259,614","54,782",...,74228,434025,"1,224,845","218,826","70,491","450,109","426,697","104,785","379,934","55,397"
60,"Veteran-owned firms, 2012",NaN,"41,943","7,953","46,780","25,915","252,377","51,722","31,056","7,206",...,8604,59379,"213,590","18,754","8,237","76,434","49,331","12,912","39,830","6,470"
61,"Nonveteran-owned firms, 2012",NaN,"316,984","56,091","427,582","192,988","3,176,341","469,524","281,182","60,318",...,66219,469392,"2,057,218","219,807","63,317","548,439","461,401","94,960","370,755","51,353"
62,"Population per square mile, 2010",NaN,94.4,1.2,56.3,56,239.1,48.5,738.1,460.8,...,10.7,153.9,96.3,33.6,67.9,202.6,101.2,77.1,105,5.8
63,"Land area in square miles, 2010",NaN,"50,645.33","570,640.95","113,594.08","52,035.48","155,779.22","103,641.89","4,842.36","1,948.54",...,75811,41234.9,"261,231.71","82,169.62","9,216.66","39,490.09","66,455.52","24,038.21","54,157.80","97,093.14"
64,FIPS Code,NaN,"""01""","""02""","""04""","""05""","""06""","""08""","""09""","""10""",...,"""46""","""47""","""48""","""49""","""50""","""51""","""53""","""54""","""55""","""56"""
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NOTE: FIPS Code values are enclosed in quotes ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Value Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,1,Includes data not distributed by county.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,Fact Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,(a),Includes persons reporting only one race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,(b),"Hispanics may be of any race, so also are incl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,(c),Economic Census - Puerto Rico data are not com...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Value Flags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,-,Either no or too few sample observations were ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,D,Suppressed to avoid disclosure of confidential...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,F,Fewer than 25 firms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,FN,Footnote on this item in place of data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,Not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,S,Suppressed; does not meet publication standards,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,X,Not applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Z,Value greater than zero but less than half uni...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# fill in missing guns values with the column mean
census = census.fillna(census.mean(), axis=0, inplace=True)

In [32]:
# Remove census Fact Note column
del census['Fact Note']

In [33]:
# Deeepr investigation into the rows shows that after row 64 (index 65), there is no data, just notes, so we can reduce
# the number of rows.
census = census.iloc[:65]

In [49]:
# pd.set_option("max_colwidth",-1)
# pd.set_option('display.max_rows', 100)
# print(census.iloc[:,0:2])
# pd.reset_option('^display')
# print census
print(census.iloc[:,0:2])

                                                                                           Alabama  \
Fact
Population estimates, July 1, 2016,  (V2016)                                           4,863,300
Population estimates base, April 1, 2010,  (V2016)                                     4,780,131
Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)  1.70%
Population, Census, April 1, 2010                                                      4,779,736
Persons under 5 years, percent, July 1, 2016,  (V2016)                                 6.00%
Persons under 5 years, percent, April 1, 2010                                          6.40%
Persons under 18 years, percent, July 1, 2016,  (V2016)                                22.60%
Persons under 18 years, percent, April 1, 2010                                         23.70%
Persons 65 years and over, percent,  July 1, 2016,  (V2016)                            16.10%
Persons 65 years and over, percent, April 1, 2010                                      13.80%
Female persons, percent,  July 1, 2016,  (V2016)                                       51.60%
Female persons, percent, April 1, 2010                                                 51.50%
White alone, percent, July 1, 2016,  (V2016)                                           69.30%
Black or African American alone, percent, July 1, 2016,  (V2016)                       26.80%
American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)               0.70%
Asian alone, percent, July 1, 2016,  (V2016)                                           1.40%
Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)      0.10%
Two or More Races, percent, July 1, 2016,  (V2016)                                     1.60%
Hispanic or Latino, percent, July 1, 2016,  (V2016)                                    4.20%
White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)                   65.80%
Veterans, 2011-2015                                                                    363,170
Foreign born persons, percent, 2011-2015                                               3.50%
Housing units,  July 1, 2016,  (V2016)                                                 2,230,185
Housing units, April 1, 2010                                                           2,171,853
Owner-occupied housing unit rate, 2011-2015                                            68.70%
Median value of owner-occupied housing units, 2011-2015                                $125,500
Median selected monthly owner costs -with a mortgage, 2011-2015                        $1,139
Median selected monthly owner costs -without a mortgage, 2011-2015                     $345
Median gross rent, 2011-2015                                                           $717
Building permits, 2016                                                                 15,001
...                                                                                      ...
Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015               23.50%
With a disability, under age 65 years, percent, 2011-2015                              11.80%
Persons  without health insurance, under age 65 years, percent                         10.70%
In civilian labor force, total, percent of population age 16 years+, 2011-2015         58.00%
In civilian labor force, female, percent of population age 16 years+, 2011-2015        53.00%
Total accommodation and food services sales, 2012 ($1,000)                             7,576,462
Total health care and social assistance receipts/revenue, 2012 ($1,000)                26,039,632
Total manufacturers shipments, 2012 ($1,000)                                           124,809,759
Total merchant wholesaler sales, 2012 ($1,000)                                         57,746,565
Total retail sales, 2012 ($1,000)                                                      58,564,965
Total retail sales per capita, 2012                                                    $12,145
Mean travel time to work (minutes), workers age 16 years+, 2011-2015                   24.4
Median household income (in 2015 dollars), 2011-2015                                   $43,623
Per capita income in past 12 months (in 2015 dollars), 2011-2015                       $24,091
Persons in poverty, percent                                                            17.10%
Total employer establishments, 2015                                                    98,540
Total employment, 2015                                                                 1,634,391
Total annual payroll, 2015 ($1,000)                                                    67,370,353
Total employment, percent change, 2014-2015                                            1.90%
Total nonemployer establishments, 2015                                                 322,025
All firms, 2012                                                                        374,153
Men-owned firms, 2012                                                                  203,604
Women-owned firms, 2012                                                                137,630
Minority-owned firms, 2012                                                             92,219
Nonminority-owned firms, 2012                                                          272,651
Veteran-owned firms, 2012                                                              41,943
Nonveteran-owned firms, 2012                                                           316,984
Population per square mile, 2010                                                       94.4
Land area in square miles, 2010                                                        50,645.33
FIPS Code                                                                              "01"

                                                                                           Alaska
Fact
Population estimates, July 1, 2016,  (V2016)                                           741,894
Population estimates base, April 1, 2010,  (V2016)                                     710,249
Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)  4.50%
Population, Census, April 1, 2010                                                      710,231
Persons under 5 years, percent, July 1, 2016,  (V2016)                                 7.30%
Persons under 5 years, percent, April 1, 2010                                          7.60%
Persons under 18 years, percent, July 1, 2016,  (V2016)                                25.20%
Persons under 18 years, percent, April 1, 2010                                         26.40%
Persons 65 years and over, percent,  July 1, 2016,  (V2016)                            10.40%
Persons 65 years and over, percent, April 1, 2010                                      7.70%
Female persons, percent,  July 1, 2016,  (V2016)                                       47.70%
Female persons, percent, April 1, 2010                                                 48.00%
White alone, percent, July 1, 2016,  (V2016)                                           66.10%
Black or African American alone, percent, July 1, 2016,  (V2016)                       3.80%
American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)               15.20%
Asian alone, percent, July 1, 2016,  (V2016)                                           6.30%
Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)      1.30%
Two or More Races, percent, July 1, 2016,  (V2016)                                     7.30%
Hispanic or Latino, percent, July 1, 2016,  (V2016)                                    7.00%
White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)                   61.20%
Veterans, 2011-2015                                                                    69,323
Foreign born persons, percent, 2011-2015                                               7.40%
Housing units,  July 1, 2016,  (V2016)                                                 310,658
Housing units, April 1, 2010                                                           306,967
Owner-occupied housing unit rate, 2011-2015                                            63.40%
Median value of owner-occupied housing units, 2011-2015                                $250,000
Median selected monthly owner costs -with a mortgage, 2011-2015                        $1,827
Median selected monthly owner costs -without a mortgage, 2011-2015                     $554
Median gross rent, 2011-2015                                                           $1,146
Building permits, 2016                                                                 1,503
...                                                                                        ...
Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015               28.00%
With a disability, under age 65 years, percent, 2011-2015                              8.10%
Persons  without health insurance, under age 65 years, percent                         15.50%
In civilian labor force, total, percent of population age 16 years+, 2011-2015         67.70%
In civilian labor force, female, percent of population age 16 years+, 2011-2015        65.00%
Total accommodation and food services sales, 2012 ($1,000)                             2,221,335
Total health care and social assistance receipts/revenue, 2012 ($1,000)                6,375,483
Total manufacturers shipments, 2012 ($1,000)                                           D
Total merchant wholesaler sales, 2012 ($1,000)                                         5,216,303
Total retail sales, 2012 ($1,000)                                                      10,474,275
Total retail sales per capita, 2012                                                    $14,320
Mean travel time to work (minutes), workers age 16 years+, 2011-2015                   19
Median household income (in 2015 dollars), 2011-2015                                   $72,515
Per capita income in past 12 months (in 2015 dollars), 2011-2015                       $33,413
Persons in poverty, percent                                                            9.90%
Total employer establishments, 2015                                                    20,907
Total employment, 2015                                                                 267,999
Total annual payroll, 2015 ($1,000)                                                    15,643,303
Total employment, percent change, 2014-2015                                            0.40%
Total nonemployer establishments, 2015                                                 55,521
All firms, 2012                                                                        68,032
Men-owned firms, 2012                                                                  35,402
Women-owned firms, 2012                                                                22,141
Minority-owned firms, 2012                                                             13,688
Nonminority-owned firms, 2012                                                          51,147
Veteran-owned firms, 2012                                                              7,953
Nonveteran-owned firms, 2012                                                           56,091
Population per square mile, 2010                                                       1.2
Land area in square miles, 2010                                                        570,640.95
FIPS Code                                                                              "02"

[65 rows x 2 columns]

In [35]:
# Get basics via census.info
census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 51 columns):
Fact              65 non-null object
Alabama           65 non-null object
Alaska            65 non-null object
Arizona           65 non-null object
Arkansas          65 non-null object
California        65 non-null object
Colorado          65 non-null object
Connecticut       65 non-null object
Delaware          65 non-null object
Florida           65 non-null object
Georgia           65 non-null object
Hawaii            65 non-null object
Idaho             65 non-null object
Illinois          65 non-null object
Indiana           65 non-null object
Iowa              65 non-null object
Kansas            65 non-null object
Kentucky          65 non-null object
Louisiana         65 non-null object
Maine             65 non-null object
Maryland          65 non-null object
Massachusetts     65 non-null object
Michigan          65 non-null object
Minnesota         65 non-null object
Mississippi       65 non-null object
Missouri          65 non-null object
Montana           65 non-null object
Nebraska          65 non-null object
Nevada            65 non-null object
New Hampshire     65 non-null object
New Jersey        65 non-null object
New Mexico        65 non-null object
New York          65 non-null object
North Carolina    65 non-null object
North Dakota      65 non-null object
Ohio              65 non-null object
Oklahoma          65 non-null object
Oregon            65 non-null object
Pennsylvania      65 non-null object
Rhode Island      65 non-null object
South Carolina    65 non-null object
South Dakota      65 non-null object
Tennessee         65 non-null object
Texas             65 non-null object
Utah              65 non-null object
Vermont           65 non-null object
Virginia          65 non-null object
Washington        65 non-null object
West Virginia     65 non-null object
Wisconsin         65 non-null object
Wyoming           65 non-null object
dtypes: object(51)
memory usage: 26.0+ KB

In [36]:
census.head(1)

,Fact,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)","4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065","20,612,439",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"

In [37]:
# Data Cleaning Results
# guns data set
#  missing data filled with column mean, month-year column split into two, numeric data types changed to int64
#  28 columns, 12485 rows
#  month, year, state columns potential keys
# census data set
#  duplicates dropped, missing data filled with column mean, Fact Note column dropped, 
#  rows dropped starting at index 65
#  51 columns, 65 rows
#  the fact column identifies that values in the column cells, it's a bit larget 
#  but it doesn't seem practical to do any cleaning on the fact column. 
#  column names include each of the 50 states and this can be used to link to the gun table/data set

# Data is trimmed and clean !

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [38]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

In [39]:
census.set_index('Fact',inplace=True)
census_T = census.T.reset_index()

In [41]:
census_T.rename(columns={'index':'state'},inplace=True)

In [42]:
guns_16=guns[guns['year'] == 2016]
guns_10=guns[guns['year'] == 2010]

In [43]:
guntotal_16 = guns_16.groupby(['state'])['totals'].sum().reset_index()
guntotal_10 = guns_10.groupby(['state'])['totals'].sum().reset_index()

In [44]:
guntotal_16.rename(columns={'totals':'2016_totals'},inplace=True)
guntotal_10.rename(columns={'totals':'2010_totals'},inplace=True)

In [45]:
guntotal = guntotal_16.merge(guntotal_10, on='state', how='inner')

In [55]:
print(guntotal)

Empty DataFrame
Columns: [2016_totals, state, 2010_totals]
Index: []

In [46]:
result=guntotal.merge(census_T, on='state',how='inner')

In [48]:
result['Guns_per_capita_2016'] = result['2016_totals'] / result['Population estimates, July 1, 2016,  (V2016)']

In [50]:
result['Guns_per_capita_2010'] = result['2010_totals'] / result['Population estimates base, April 1, 2010,  (V2016)']

In [53]:
print(result['Guns_per_capita_2010'])

Series([], Name: Guns_per_capita_2010, dtype: object)

In [52]:
result.nlargest(5,'Guns_per_capita_2010')

TypeError: Column 'Guns_per_capita_2010' has dtype object, cannot use method 'nlargest' with this dtype

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!